<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'parkmap/css/bootstrap.min.css' %}" type="text/css" >
    <title>ParkHawk</title>
</head>

<header>

    {% include 'parkmap/includes/header.html' %}

</header>


<body>
    <div class="container-fluid">
    
        <form class="jumbotron form-inline" method="POST"> {% csrf_token %}

            {{ form }}

            <button type="submit">Submit</button>

        </form>
    </div>

</body>
</html>