<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'parkmap/css/parkingspot_list.css' %}" type="text/css" >
    <title>ParkHawk</title>
   
      
</head>

<header>

    {% include 'parkmap/includes/header.html' %}

</header>

<body>
    

    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Find Parking Near You</h1>
            <div id="map"></div>
        </div>


        <h2>Parking Spots</h2>
        
        


        <div class="list-group">


            {% for spot in object_list %}

                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ spot.address }}</h5>
                        <small>${{ spot.price }}</small>
                    </div>
                    <p class="mb-1">{{ spot.note }}</p>
                    <small>{{ spot.hours_start_time }} - {{ spot.hours_end_time }}</small>
                </div>
            {% endfor %}
        </div>

    </div>

    {% block script %}
        <script>
            
            let locList = [];

            {% for spot in object_list %}

                locList.push({lat:{{ spot.latitude }}, lng: {{ spot.longitude }} });
            {% endfor %}

           
        
        </script>
    {% endblock %}
    <script src="{% static 'parkmap/js/map.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBya_p_fSTqn0PExLuB8kIwxPzDYnDI9Mg&callback=initMap"></script>
    
    


</body>
</html>